#main{
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
}

.ui.footer.form-page {
      background-color: #212121;
      position: absolute;
      margin-top: -50px;
      left: 0;
      width: 100%;
      padding: 15px 0;
}

.ui.ui.ui.container:not(.fluid){
    width: 1000px;
}

.ui.text.container {
    max-width: 100rem;
}

#signup-container{
    max-width: 40rem;
}

#post-submit{
    padding: 0.5rem;
    margin: 0.5rem;
}